$base-page-background: #fafafa;
$base-text-color: #0c0c0c0c;
$table-border-color:rgb(65, 62, 62);
$base-font-family: 'Montserrat';
$footer-background-color: rgba(0,0,0,0.2);
$footer-font-size: 1.4rem;
$app-background-image: none;
$logo-font-size: 1.8rem;
$logo-font-color: rgb(67, 15, 187);
$nav-item-font-size: 1.6rem;
$nav-item-color: rgb(67, 15, 187);
$activ-nav-color: rgb(231, 247, 10);
$logo-icon-color: #8b8c80;
$color-input-border: rgb(73, 72, 72);
$input-placeholder-color: #929191;
$input-border-focus-color:#d84f4f;
$input-border-valid-color:#0bc21b;
$input-focus-shadow-color: #000000;
$form-button-background: #d16f1f;
$form-button-text-color: #070707;
$form-button-hover-text-color: #d16f1f;
$form-button-hover-border-color: #d16f1f;
$page-titile-color: rgb(231, 247, 10);
$button-back-border-color:#d16f1f;
$back-button-icon-color: #d16f1f;
$table-summary-background:#d16f1f;
$table-header-background:#f1a15e;